<h2>Create an Account</h2>

<% if @user.errors.full_messages.any? %> <!-- active record provides errors.full_messages automatically -->
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
<!-- form_with is the newest way of doing forms in rails, both model-related and non-model -->
<%= form_for @user, html: {multipart: true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :image, 'User Avatar' %>
  <%= f.cl_image_upload :image %>
  <br>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.submit 'Sign Up' %>
<% end %>
