<h2>Create Your Fantasy Team</h2>

<%= form_for @fantasyteam do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :image, 'Image URL' %>
  <%= f.text_field :image %>
  <br>

<% @players.each do |player| %>
  <%= label_tag do %>
    <%= check_box_tag 'players[]', player.id %>
    <%= player.name %>(<%= player.team.name %>)
  <% end %>
  <br>

<% end %>

<%= f.submit "Create Fantasy Team" %>

<% end %>
